#main {
    padding-top: 50px;
}

.panel > .title {
    font-size: 1.5em;
}

.actionbar {
    font-size: 12px;
    position: fixed;
    right: 0;
    padding-top: 30px;
    padding: 16px 8px 8px;
    margin-right: 0;
    top: 30px;
    z-index: 8;
    background: #fbfbfb;
}
